<section class="contact">
  <div class="content-wrapper">
    <div class="contact__form">
      <img src="assets/images/Join-Logo-White.png" alt="Join Logo" />
      <h2>Edit contact</h2>
      <img class="logo-underline" src="assets/icons/Vector 5.svg" alt="" />
    </div>
    <div class="contact__right">
      <button class="close-btn" (click)="close()">X</button>
      <div class="contact__right--middle">
        <div class="person-name-img">
          @if (getInitials()) {
            <div class="avatar-circle" [style.background-color]="contactColor">
              {{ getInitials() }}
            </div>
          } @else {
            <img src="assets/images/Group 13.png" alt="contact Icon" />
          }
        </div>
        <form [formGroup]="userform" (ngSubmit)="onSubmit()">
          <div class="contact__right--input">
            <div class="contact__right--input--box">
              <div
                [class.has-error]="
                  (name?.invalid && name?.dirty) || (name?.hasError('required') && formSubmitted())
                "
                [class.has-success]="name?.valid && name?.dirty"
              >
                <h5>
                  @if (
                    (name?.hasError('minlength') && name?.dirty) ||
                    (name?.hasError('forbiddenName') && name?.dirty) ||
                    (name?.hasError('required') && formSubmitted())
                  ) {
                    @if (name?.hasError('required') && formSubmitted()) {
                      {{ 'Your name is required' }}
                    }
                    @if (name?.hasError('minlength') && name?.dirty) {
                      {{ 'Enter your full name' }}
                    }
                    @if (name?.hasError('forbiddenName') && name?.dirty) {
                      {{ 'Remove space' }}
                    }
                  }
                </h5>
                <input
                  class="name-edit inp"
                  id="name"
                  formControlName="name"
                  type="text"
                  placeholder="Name"
                />
                <img class="inp-icon" src="assets/icons/person.svg" alt="Name Icon" />
              </div>
              <div
                [class.has-error]="
                  (email?.invalid && email?.dirty) ||
                  (email?.hasError('required') && formSubmitted())
                "
                [class.has-success]="email?.valid && email?.dirty"
              >
                <h5>
                  @if (
                    ((email?.hasError('pattern') || email?.hasError('email')) && email?.dirty) ||
                    (email?.hasError('required') && formSubmitted())
                  ) {
                    @if (email?.hasError('required') && formSubmitted()) {
                      {{ 'contact.error.emailRequired' }}
                    }
                    @if ((email?.hasError('pattern') || email?.hasError('email')) && email?.dirty) {
                      {{ 'contact.error.emailInvalid' }}
                    }
                  }
                </h5>
                <input
                  class="email-edit inp"
                  id="email"
                  formControlName="email"
                  type="text"
                  placeholder="Email"
                />
                <img class="inp-icon" src="assets/icons/mail.svg" alt="Email-Icon" />
              </div>
              <div
                [class.has-error]="
                  (phone?.invalid && phone?.dirty) ||
                  (phone?.hasError('required') && formSubmitted())
                "
                [class.has-success]="phone?.valid && phone?.dirty"
              >
                <h5>
                  @if (
                    ((phone?.hasError('pattern') || phone?.hasError('phone')) && phone?.dirty) ||
                    (phone?.hasError('required') && formSubmitted())
                  ) {
                    @if (phone?.hasError('required') && formSubmitted()) {
                      {{ 'contact.error.phoneRequired' }}
                    }
                    @if ((phone?.hasError('pattern') || phone?.hasError('phone')) && phone?.dirty) {
                      {{ 'contact.error.phoneInvalid' }}
                    }
                  }
                </h5>
                <input
                  class="number-edit inp"
                  id="phone"
                  formControlName="phone"
                  type="text"
                  placeholder="Phone"
                />
                <img class="inp-icon" src="assets/icons/call.svg" alt="Phone Icon" />
              </div>
            </div>
            <div class="contact__right--btn">
              <button class="delete btn">Delete</button>
              <button class="save btn" (click)="onSubmit()">
                Save <img src="assets/icons/check.svg" alt="okay icon" />
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
