@use '../../../../../../public/assets/styles';

.contact {
  @include styles.flex-center;
  width: 100%;
  height: 100%;

  .content-wrapper {
    @include styles.flex-center;
    height: 600px;
  }
  &__form {
    height: 100%;
    @include styles.flex-center(column);
    align-items: flex-start;
    gap: 16px;
    background: #2a3647;
    padding: 0px 46px 55px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;

    img {
      width: 54px;
      height: 66px;
      margin-bottom: 16px;
    }
    h2 {
      font-size: 61px;
      font-weight: bold;
      color: white;
    }
    p {
      font-size: 27px;
      color: white;
    }
    .logo-underline {
      height: auto;
    }
  }
  &__right {
    @include styles.flex-center(column);
    justify-content: flex-end;
    height: 100%;
    padding: 0px 48px 135px 95px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: white;
    .close-btn {
      font-size: 18px;
      width: 100%;
      text-align: end;
      border-style: none;
      background-color: white;
      margin-bottom: 57px;
    }
    &--middle {
      @include styles.flex-center;
      gap: 72px;
      .person-name-img {
        padding-bottom: 50px;
      }
      .avatar-circle {
        @include styles.flex-center;
        width: 120px;
        height: 120px;
        border-radius: 50%;
        border: 3px solid #ffffff;
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
        color: white;
        font-size: 47px;
        font-weight: bold;
        text-transform: uppercase;
      }
    }
    &--input {
      @include styles.flex-center(column);
      align-items: flex-start;
      gap: 48px;
      &--box {
        @include styles.flex-center(column);
        align-items: flex-start;
        gap: 32px;
      }
      input {
        width: 420px;
        height: 50px;
        border: 1px solid #124658;
        border-radius: 10px;
        padding: 10px;
        font-size: 20px;
      }
    }
    &--btn {
      @include styles.flex-center;
      justify-content: flex-start;
      gap: 25px;
      height: 57px;
      .cancel {
        border: 1px solid #2a3647;
      }
      .create {
        color: white;
        background-color: #2a3647;
      }
      .btn {
        font-size: 21px;
        padding: 10px;
        border-radius: 8px;
      }
    }
  }
}

.inp-icon {
  transform: translateX(-40px) translateY(4px);
}

button:hover,
input:hover {
  cursor: pointer;
}

input:invalid {
  color: red;
  border: 1px solid red;
}

.has-error {
  h5 {
    color: red;
  }
  .inp {
    color: red;
    border: 1px solid red;
  }
}
