// JOIN Projekt - Standard Farben
$join-dark-blue: #2A3647;   // Dunkles Blau (für Header, dunkle Hintergründe, Schriften)
$join-light-blue: #29ABE2;  // Hellblau / Accent-Farbe (für Buttons, Logos, Highlights)
$join-bg-light: #F6F7F8;    // Sehr helles Grau/Weiß (für den allgemeinen Hintergrund)
